@import "tailwindcss";

.header {
  @apply bg-blue-300 text-black p-4;
}

body{
  margin:0;
  background:#e79a57;
  font-family: 'Quicksand', sans-serif;
}

/* layout หลัก */
.layout{
  display:flex;
  height:100vh;
  padding:40px;
  box-sizing:border-box;
}

/* พื้นที่ฝั่งซ้าย (dashboard area) */
.content{
  flex:1;
}

/* log alert card */
.log-alert-card{
  width:280px;
  background:#d9d9d9;
  border-radius:20px;
  padding:15px;
}

/* header */
.log-alert-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:600;
  margin-bottom:12px;
}

/* log list */
.log-list{
  display:flex;
  flex-direction:column;
  gap:12px;
}

/* log item */
.log-item{
  display:flex;
  gap:10px;
  background:#ea9b57;
  padding:10px;
  border-radius:12px;
  align-items:center;
}

/* status dot */
.log-dot{
  width:10px;
  height:10px;
  border-radius:50%;
}

.green{
  background:#2ecc71;
}

.red{
  background:#e74c3c;
}

/* time */
.log-time{
  font-size:12px;
  font-weight:600;
}

/* message */
.log-message{
  font-size:13px;
}

/* button */
.view-all-btn{
  margin-top:12px;
  width:100%;
  border:none;
  padding:10px;
  border-radius:12px;
  background:#ea9b57;
  cursor:pointer;
  font-weight:600;
}

/* deep camera page */
.deepcam-page{
  display:flex;
  gap:40px;
  padding:40px;
  width:100%;
}

/* deep camera card */
.deepcam-card{
  flex:1;
  max-width:650px;
  background:#d9d9d9;
  border-radius:20px;
  padding:20px;
}

/* camera area */
.camera-box{
  margin-top:10px;
  background:#bfbfbf;
  height:420px;
  border-radius:25px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:600;
}

/* object card */
.object-card{
  width:260px;
  background:#d9d9d9;
  border-radius:20px;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/* title */
.card-title{
  background:#cfcfcf;
  padding:6px 12px;
  border-radius:12px;
  font-size:14px;
  display:inline-block;
}

/* tags */
.object-tags{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.tag{
  background:#f3c14b;
  padding:5px 12px;
  border-radius:12px;
  font-size:12px;
}

/* button */
.import-btn{
  margin-top:auto;
  background:#8fbf7a;
  border:none;
  padding:10px;
  border-radius:12px;
  cursor:pointer;
  font-weight:600;
}